<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suitechrome" parallel="none">
 
<listeners><listener class-name="testScripts.Listeners"/></listeners>
  <test name="Test it manager">
  <parameter name="role" value="ITManager"></parameter>
    <classes>
      <class name="testScripts.CreatePollTestCase"/>
      <class name="testScripts.MnagePollsTestcase"/>
      <class name="testScripts.BaseTest"/>
      <class name="testScripts.coursetestcase"/>
      <class name="testScripts.ManageUserTestcase"/>
    </classes>
  </test> <!-- Test -->

<listeners><listener class-name="testScripts.Listeners"/></listeners>  
  <test name="Test Creator">
  <parameter name="role" value="Creator"></parameter>
    <classes>
      <class name="testScripts.CreatePollTestCase"/>
      <class name="testScripts.MnagePollsTestcase"/>
      <class name="testScripts.BaseTest"/>
      <class name="testScripts.coursetestcase"/>
      <class name="testScripts.ManageUserTestcase"/>
    </classes>
  </test> <!-- Test -->
 
  
   
  
  
</suite> <!-- Suite -->
